
.container{
    margin-left: 600px;
    width: 700px;
    height: 900px;
    background-image: url(../img/ZmL2FbH.jpg);
    background-size: cover; /* Đảm bảo hình nền kích thước tốt nhất */
    background-repeat: no-repeat; /* Ngăn lặp lại hình nền */
}
.form{
    width: 400px;
    height: 600px;
    margin-left: 150px;
    background: white;
    border-radius: 10px;
}
h1{
    padding-top: 30px;
    margin-left: 130px;
    color: #6f42c1;
    font-weight: bold;
    font-size: 40px;
}
input{
    width: 300px;
    height: 60px;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 40px;
    border: none;
    box-shadow: 3px 3px 5px #888888;
    padding-left: 15px;

}
button{
    color: white;
    background: #6f42c1;
    width: 200px;
    height: 50px;
    margin-top: 30px;
    margin-left: 100px;
    border-radius: 20px;
}
p{
    text-align: center;
    margin-top: 40px;
}
.signup{
    margin-top: 150px;
}