div{
    color: black;
    width: 500px;
    height: 37px;
    border-bottom: red solid 4px;
    border-left: red solid 8px;
}
ul.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    background-color: #a7acb1;
}

ul.menu li {
    display: inline;
    position: relative;
}

ul.menu li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: black;
}

ul.menu li:hover ul.submenu {
    display: block;
}
ul.menu li a:hover {
    background-color: #a50c1f; /* Màu nền khi di chuột qua */
}

/* CSS cho menu con */
ul.submenu {
    width: 170px;
    display: none;
    position: absolute;
    background-color:  #a7acb1;
    color: black;
}

ul.submenu li {
    display: block;
}

ul.submenu li a {
    padding: 10px 20px;
    text-decoration: none;
    color: black;
}